<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
    </head>
    
    <body>
<!--        Insert Google Maps API-->
        
        <input type="text" id="userItem" name="userInput"/>
        <input type="submit" id="btn" name="searchBtn"/>
    </body>
    
</html>