<!DOCTYPE HTML>
<html>
    <head>
        <title></title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

    </head>
    
    <body>
           <div id="map"></div>

        <!--Insert Google Maps API here-->
        <div class="form-div">
            <form action="/yardsale/searchResults" method= "post">
            <label>Enter an item you wish you buy at a yard sale.</label>
            <input type="text" id="userItem" name="userInput"/>
            <input type="submit" id="btn" name="searchBtn"/>
            </form>
        </div>

        <button id="get-data">Get JSON data</button>
        <div>aqui</div>
       
        
        <!-- JSON data we can refer to is visible for now -->
        <p id="quote"><%= sales%></p>



    <!--  // GOOGLE MAPS -->
   <!--  <script type="text/javascript" src="yardsale.json"></script> -->
    <script type="text/javascript" src="/js/global.js"> </script> 

   <!--   END GOOGLE MAPS -->

  <!--  ADDING JQUERY -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhhpTLe6JUY_Ofagp_ePRMelZUrepiywQ&callback=initMap">
    </script>
    
    </body>
    

</html>