<!DOCTYPE HTML>
<html>
    <head>
        <title>Yard Sale Locator</title>
        <link href="/home.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="form-div">
            <div id="search">
                <form id="searchForm" action="/yardsale/searchResults" method= "post">
                    <label id="lbl">Search for an item:</label>
                    <input type="text" id="userItem" name="userInput"/>
                    <input type="submit" id="sbtn" name="searchBtn"/>
                </form>
             </div>
        </div>

        
        <div id="map">
        </div>
        
        <script type='text/javascript' src="/reader.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhhpTLe6JUY_Ofagp_ePRMelZUrepiywQ&callback=initMap">
        </script>
      
    <script type='text/javascript' src="/map.js">
    </script>
        
    </body>
    

</html>