/*  CSS for Map elements  */
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
#special {
height: 100%;
margin: 0;
padding: 0;
background-image: url("../bg.jpg");
background-color: #cccccc;
font-family: "Bookman Old Style"
}

/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: "Bookman Old Style";
}

p {
    color:black;
    background-color: transparent;
}

label {
  padding-top: 2px;
  padding-bottom: 5px;
}

.form-title {
    font-size: 26px;
    color: #ed4048;
    padding-bottom: 10px;
}

input[type=text], select, input[type=date], input[type=time] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}




/*  CSS for elements outside of the map  */
#search{
    display: block;
/*    margin-top: 100px;*/
    padding-top: 50px; 
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
}

#lbl {
    font-size: 12pt;
}

#searchForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userItem{
    order: 0;
    width: 75%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10pt;
}

#sbtn{
    order: 1;
    font-size: 16pt;
}

  .form-div {
        z-index: 900;
        position: absolute;
         margin: auto;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         width: 400px;
         height: 300px;
         border-radius: 5px;
         /*opacity: 0.02;*/
         padding: 10px;
         background-color:rgba(255,255,255,0.5);
  }

  .form-div2 {
        z-index: 900;
        position: absolute;
         margin: auto;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         width: 400px;
         height: 600px;
         border-radius: 5px;
         /*opacity: 0.02;*/
         padding: 10px;
         background-color:rgba(255,255,255,0.2);
  }

